* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #e6e6e6;
}

.container {
    width: 100%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo img {
    width: 70px;
    margin-left: 50px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.menu a:link {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.menu a:visited {
    color: #666;
}

.menu a:hover {
    color: #4F258B;
    border-bottom: 2px solid purple;
}

.menu a:active {
    color: #FDBE19;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: yellow;
    width: 700px;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 300px;
    border-width: 7px;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
    border: 2px solid black;
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}
